.navbarContainer {
  box-sizing: border-box; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 15px 25px;
  background-color: #000000; /* Dark blue */
  color: white;
  width: 100%;
  
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navLinks li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.3s;
}

.navLinks li a:hover {
  color: #38bdf8; /* Light blue */
}

.icons {
  display: flex;
  gap: 15px;
  font-size: 22px;
  cursor: pointer;
}
.button {
  background-color: #939994;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.button a {
  color: inherit;
  text-decoration: none;
  
}

.button:hover {
  background-color: #474747;
}

.link{
  text-decoration: none;
  
}