/* AddProductPage.module.css */

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  background-color: #dedede;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
}

.container h2 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #333;
}

.form div {
  display: flex;
  flex-direction: column;
}

.container label {
  font-size: 1rem;
  margin-bottom: 5px;
 
}

.container input, textarea {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  transition: border-color 0.3s ease;
  color: black;
}

.container input:focus, textarea:focus {
  border-color: #007bff;
  outline: none;
}

.container textarea {
  resize: vertical;
  min-height: 100px;
}

.container button {
  padding: 12px 20px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container button:hover {
  background-color: #0056b3;
}
.container button:active {
  background-color: #004085;
}

.container p {
  text-align: center;
  font-size: 1.1rem;
  color: red;
  margin-top: 20px;
}

.container input[type="file"] {
  padding: 5px;
}

