.container {
  height: auto;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  background-color: rgba(47, 47, 47, 0.09);
  width: 80%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5), -5px 5px 10px rgba(0, 0, 0, 0.5);
}

.button{
  font-size: 1rem;
  padding: 4px 8px;
  background-color: black;
  border: none;
  border-radius: 5px;
  transition: transform 0.4s ease-in-out;
}
.button:hover{
  color: orangered;
  transform: scale(1.2);
  cursor: pointer;
}

.product{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  width: 80%;
  padding: 10px;
  margin: 10px;
  /* background-color: rgba(6, 22, 255, 0.341); */
  border-radius: 5px;
  border: 1px solid black;

}
.product img{
  height: 120px;
  width: 120px;
  object-fit: cover;
}
.deletebutton {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete {
  max-width: 25px;
 max-height: 25px;
  object-fit: contain; 
}